@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}
*,
::before,
::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {

    /* Background Color */
    --bg-white: #fff;

    /* text color */

    --primary-text: #061738;
    --secondary-text: #60cd12;
    --text-white: #fff;
    --dark-color: #03262c;
    --text-gray: #666;
    --light-color: #e2f6de;
    --anchor-color: #007aff;
    /* */

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    /* Front family */

    --primary-font: 'Poppins', sans-serif;
    --secondary-font:'Righteous', Regular;
}

body,
html {
    color: var(--primary-text);
    font-size: 10px;
    font-family: var(--primary-font);
    font-weight: 400;
    scroll-behavior: smooth;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

embed,
iframe,
img,
object {

    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: 0;
}

li a {
    color: var(--anchor-color);
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--text-white);
}

::-webkit-scrollbar-thumb {
    background: var(--indigo) !important;
}

.main-btn {
    display: inline-block;
    border: 0.2rem solid var(--bg-white);
    color: black !important;
    text-align: center;
    padding: 1rem 3.5rem;
    font-size: 1.8rem;
    background: white;
    text-transform: uppercase;
    border-radius: 3.5rem;
    transform: all 0.3s ease-in-out !important;
    z-index: 1;
    overflow: hidden;
    font-weight: 300;
    letter-spacing: 0.2rem;
    position: relative;
    margin-top: 2.5rem;
}

.main-btn:hover {
    background-color: var(--indigo) !important;
    color: var(--white) !important;
    border: 0.2rem solid var(--white);
}

section {
    padding: 10rem 0;
}

.section-title {

    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.section-subtitle {

    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
}

/* 01 Navbar class */
.header {
    position: absolute;
    top: 2rem;
    width: 100%;
    left: 0;
    z-index: 2;
}

.header .navbar {
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 4rem 5rem;
}

.header .navbar-brand {
    width: 7.5rem;
    margin-top: -0.1rem;
}

.header .navbar-nav .nav-link {

    color: var(--text-white);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--primary-font);
    padding: 0.5rem 4rem;
    margin: 0 0.2rem;
}

.header .navbar-nav .nav-item:hover {
    box-sizing: border-box;
    background-color: var(--purple);
    border-radius: 1rem;
}

.header .navbar-toggler {
    background-color: var(--bg-white);
    justify-content: end !important;
    align-items: end !important;
}

.header_right {
    padding-left: 15rem;
}

.header .header_right span {
    color: var(--secondary-text);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: -10rem;
}

.header .header_right .phone_no {
    color: var(--text-white);
    font-size: 1.65rem;
}

.header .img {
    margin-top: 2rem;
    margin-bottom: 5rem;
    align-items: center;
    text-align: center;
}

/* 02 banner  */

.Banner_section {
    background-image: url("../images/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 40rem;
}
.Banner1_section {
    background-image: url("../images/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20rem;
}

.Banner_section .carousel-item {
    padding: 3rem 0;
    height: 90vh;
}

.Banner_section .carousel-caption {

    top: 40%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: center;
    width: 100%;
}

.Banner_section .carousel-caption h1 {

    margin-bottom: 1rem;
    font-size: 10rem;
    color: white;
    font-family: var(--secondary-font);
}

.Banner_section .carousel-caption h3 {

    padding: 0.5rem 1.5rem;
    display: inline;
    background-color: var(--dark-color);
}

.Banner_section .carousel-caption p {
    margin-left: 4rem;
    max-width: 100rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: var(--primary-font);
}

/* about */
.about_section .text {
    margin-bottom: 5rem;
}

.about_section .text h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: var(--secondary-font);
}

.about_section .text h2 {
    font-weight: 200;
    font-family: var(--primary-font);
} 

.about_section .img {
    max-width: 100%;
    height: 115%;
}

.about_section .img-fluid {
    height: 95%;
}

.about_section .main-btn {
    display: inline-block;
    border: 0.2rem solid var(--bg-white);
    color: var(--white) !important;
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.8rem;
    background: var(--indigo);
    text-transform: uppercase;
    border-radius: 3.5rem;
    transform: all 0.3s ease-in-out !important;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
    letter-spacing: 0.2rem;
    position: relative;
    margin-top: 3rem;
}

.about_section .main-btn:hover {
    background-color: black !important;
    color: var(--white) !important;
    border: 0.2rem solid white;
}
.about_section .img1:hover {
    transform: scale(0.9);
    transition: ease-in;
}
/* service */
.service-section .text h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: var(--secondary-font);
}

.service-section .text h2 {
    font-weight: 200;
    line-height: 2.8rem;
    padding-top: 4rem;
    font-family: var(--primary-font);
}

.service-section .text {
    padding: 5rem 2rem;
    padding-left: 10rem;
}
.service-section .main-btn {
    display: inline-block;
    border: 0.2rem solid black;
    color: var(--white) !important;
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.8rem;
    background: black!important;
    text-transform: uppercase;
    border-radius: 3.5rem;
    transform: all 0.3s ease-in-out !important;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
    letter-spacing: 0.2rem;
    position: relative;
    margin-top: 5rem;
}

.service-section .main-btn:hover {
    background-color: var(--indigo) !important;
    color: var(--white) !important;
    border: 0.2rem solid white;
}
.service-section .img1:hover {
    transform: scale(1.1);
    transition: ease-in-out;
}
/* video */
.video{
    background-image: url("../images/blog-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 70rem;
}
.video .container .text-center{
    padding-top: 13rem;
}

.video .text-center h1{
     color: white;
     font-size: 5rem;
     font-weight: 600;
     font-family: var(--secondary-font);
}
.video .text-center p{
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    max-width: 100%;
    font-family: var(--primary-font);
}

/* animation buttton */
.play_icon_main {
    width: 100%;
    margin-top: 150px;
    float: left;
}

.play_icon {
    width: 200px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.play_icon::before {
    content: '';
    position: absolute;
    top: 49%;
    left: 100px;
    width: 130px;
    height: 130px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 100%;
    z-index: -1;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0px 0px 10px 0px;
    right: inherit;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}
/* testimonual */

.Testimonial_section .text-center p{
    text-transform: capitalize;
    line-height: 1.5;
    color: var(--primary-text);
}

.Testimonial_section .card {

    margin: 4rem 15rem;
    margin-bottom: 6rem;
    border-radius: 4rem;
}
.Testimonial_section .shadow{
box-shadow: 0 1.5rem 4rem rgba(var(--bs-body-color-rgb),.15) !important;
}
.Testimonial_section .card .col-md-6 h2{
    font-weight: 250;
    font-family: var(--primary-font);
    font-size: 17px;
    
}
.Testimonial_section .card h4{

    line-height: 1.4;
    font-weight: 500;
    font-size: 2rem;
    padding: 5rem 4rem;
    text-transform: capitalize;
    color: var(--primary-text);
}
.Testimonial_section .card1{
    border: 1px solid black;
    padding: 5rem;
    border-radius: 2rem;
    width: 100%;
}
.Testimonial_section .card h3{

    color: #03262c;
    margin-top: -2rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}
.Testimonial_section .carousel-indicators button{

  background-color: var(--dark-color);
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;

}

.Testimonial_section .img{
     margin-top: 5rem;
     margin-right: 4rem;
}
.Testimonial_section .text-center{
    margin-top: 10rem;
}
.Testimonial_section .text-center h1{
      font-size: 4rem;
      font-weight: 600;
      color: var(--gray-dark)!important;
      font-family: var(--secondary-font);
}
.Testimonial_section .text-center h2{
    font-size: 2rem;
    font-weight: 400!important;
    color: var(--green)!important;
    font-family: var(--primary-font);
}
.Testimonial_section .text-center1 h1{
    font-size: 6rem;
}
.Testimonial_section .row{
    padding: 6rem;
}


/* choose */

.choose .text-center h1{

    font-size: 5rem;
    font-weight: 500;
    font-family: var(--secondary-font);
}

.choose .text-center p{
    margin-top: 3rem;
    font-size: 2rem;
    font-family: var(--primary-font);
}

.choose  .main-btn {
    display: inline-block;
    border: 0.2rem solid black;
    color: var(--white) !important;
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.8rem;
    background: black!important;
    text-transform: uppercase;
    border-radius: 3.5rem;
    transform: all 0.3s ease-in-out !important;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
    letter-spacing: 0.2rem;
    position: relative;
    margin-top: 5rem;
}

.choose .main-btn:hover {
    background-color: var(--indigo) !important;
    color: var(--white) !important;
    border: 0.2rem solid white;
}
.choose .text h1{
    font-size:4rem;
    font-weight: 500;
}
.choose .btn1{
    margin-top: -5rem;
    margin-left: 20rem;
}
.newsletter_box {
    width: 100%;
    border: 1px solid #6e6e6e;
    border-radius: 25px;
    padding: 20px 30px;
    display: flex;
    margin-top: 90px !important;
    float: left;
}
.let_text {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    padding-bottom: 0px;
}
.choose .btn1{
    margin-top: 0rem;
    margin-left: -25rem;
}
/* footer*/

.footer_section .container-xxl {

    background-image: url("../images/footer-bg.png");
}

.copyright .container-fluid {

    background-color: var(--dark-color);
}

.copyright {
    color: #B0B9AE;
    /* border-top: 1px solid rgba(255, 255, 255, .1); */
}

.footer_section .row {
    margin-top: 10rem !important;
}
.footer_section{
    margin-top: 15rem;
}
.footer_section .form-control{
    height: 5rem;
    width: 43rem;
}
.footer_section .subs a{
    margin-left: -14rem;
    margin-top: 2rem;
    font-weight: 600;
    color: var(--indigo);
}
.footer_section .subs{
    margin-top: 0.5rem;
}
.footer_section .iicon{
  margin-left: 13rem;
  margin-top: 3rem;
}
.footer_section .col-6{
     margin-top: 12rem;
     margin-left: -15rem;
}
.footer_section .icon{
    margin-top: 6rem;
}


.contact .text-center h1{
  font-size: 5rem;
  font-weight: 500;
  font-family: var(--primary-font);
}

.contact .main-btn {
    display: inline-block;
    border: 0.2rem solid black;
    color: var(--white) !important;
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.8rem;
    background: black!important;
    text-transform: uppercase;
    border-radius: 3.5rem;
    transform: all 0.3s ease-in-out !important;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
    letter-spacing: 0.2rem;
    position: relative;
    margin-top: 5rem;
}

.contact .main-btn:hover {
    background-color: var(--indigo) !important;
    color: var(--white) !important;
    border: 0.2rem solid white;
}
.contact .border{
    border: 0.1px solid black!important;
}